{% extends 'core/base.html' %}
{% block title %}Sign up{% endblock%}

{% block content %}
<div class="d-flex align-items-center flex-column justify-content-center h-100">
    <div class="register-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="." class="h1"><b>ChatApp</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Signup</p>
                <form method="post" action=".">
                    {% csrf_token %}

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password1" placeholder="Password">
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password2" placeholder="Retype password">
                    </div>
                    <div>
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p>{{ error|escape }}</p>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                    
                </form>
            </div>

        </div>
    </div>

    {% endblock %}